/* ----------------------------------------------------------------------------- */
/* --- DOCUMENT SETUP
/* ----------------------------------------------------------------------------- */

body {
	position: relative;
	color: #282828;
	@include font-size(13px);
	font-family: $font-family;
	font-weight: $body-font-weight;
	line-height: $body-line-height;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	@include transition(all 0.2s ease-in-out);
}

a:hover,
a:focus {
	text-decoration: none;
}

textarea:focus,
input:focus,
a:focus,
a:visited,
* {
	@include box-sizing(border-box);
}
*:focus {
	outline: none;
}

iframe {
	border: none;
}

img {
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.bg-secondary {
	background-color: $secondary-color;
}

.text-secondary {
	color: $text-secondary-color;
}

.text-tertiary {
	color: $text-tertiary-color;
}
