/* ----------------------------------------------------------------------------- */
/* --- CONTENT
/* ----------------------------------------------------------------------------- */
#content {
	@include transition(all 0.3s);
}

.header-vertical .section {
	padding-left: 320px;
}

/* Sections 
-------------------------------------------- */

.section {
	position: relative;
	overflow: hidden;
}

/* Contact
-------------------------------------------- */

.contact-box {
	margin-left: 10%;
	width: 380px;
	padding: 60px 40px;
}
