$font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
// The prefix to use on all css classes.
$class-prefix: da;

$heading-color: #535353;
$header-text-color: #262626;
$layout-header-background: #fefefe;
$layout-header-background-dark: #003365;
$layout-footer-background: #fffffe;
$body-background: #f5f5f5;
$nav-bar-bg: #fffffc;
$nav-bar-text-color: $text-color;

$h1-font-size: 42px;
$h1-text-lg: 52px;
$h2-font-size: 36px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 18px;
$h6-font-size: 13px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 900;

$body-font-weight: font-weight-normal;
$headings-font-weight: font-weight-normal;
$body-line-height: 1.6;
$headings-line-height: 1.2;
